{% extends "todo_app/base.html" %}

{% block title %}New Task{% endblock %}

{% block container %}

    <p>Register a new task:</p>
    <br>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    {{ field.help_text|safe }}
                {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Save">
    </form>

{% endblock %}