{% extends "todo_app/base.html" %}

{% block title %}New Task{% endblock %}

{% block container %}

    <div class="flex justify-center">
        <div class="w-1/2">
            <p class="self-end text-blue-300 uppercase font-thin">Register a new task</p>
            <form method="post" class="mt-5 space-y-2 flex flex-col">
                {% csrf_token %}
                {% for field in form %}
                    <div class="flex justify-between">
                        <label for="{{ field.id_for_label }}" class="uppercase font-thin text-md text-gray-300">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="SAVE" class="w-2/3 p-1 self-end rounded-lg bg-indigo-700 text-gray-200 border border-blue-600 shadow-lg hover:border-blue-500">
            </form>
        </div>
    </div>

{% endblock %}