<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static 'todo_app/img/favicon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'todo_app/css/style.css' %}">
        <script type="text/javascript" src="{% static 'todo_app/js/base.js' %}"></script>
        <title>
            {% block title %}Manage Your TODOs Here{% endblock %}
        </title>
    </head>
    <body class="w-full max-w-screen-xl mx-auto px-24 mt-5 bg-indigo-900">

        <div id="header" class="flex flex-grow rounded bg-indigo-800 shadow-lg">
            <div class="px-2 self-center text-gray-400 text-3xl hover:shadow-lg hover:text-gray-200">
                <a href="{% url 'todo_app:index' %}">TODOs</a>
            </div>
            <div class="w-full p-2">
                {% block search_form %}{% endblock %}
            </div>
            <div id="date-area" class="w-1/6 p-2 self-center text-right text-teal-300">{% now "DATE_FORMAT" %}</div>
        </div>

        <div id="container" class="mt-20 px-8 pb-8 shadow-lg rounded-lg">
            {% block container %}
            {% endblock %}
        </div>

        <footer id="footer">
        </footer>

    </body>
</html>