{% extends "todo_app/base.html" %}


{% block search_form %}
    <form method="get" action="{% url 'todo_app:search_task' 'q' %}" class="flex justify-center">
        {% csrf_token %}
        <input type="text" name="q" value="{{ query }}" placeholder="Ex: Buy groceries"
               class="w-1/2 px-2 py-1 rounded-lg bg-gray-300 text-gray-800 placeholder-gray-800 text-center shadow-lg">
        <input type="submit" value="FIND"
               class="px-2 ml-2 rounded-lg cursor-pointer bg-indigo-700 text-gray-200 border border-blue-600 shadow-lg hover:border-blue-500">
    </form>
{% endblock %}


{% block container %}

    <div class="flex justify-between">
        <strong class="self-end font-thin text-md text-blue-300 uppercase">
            {% if count_tasks %}
                {{ count_tasks }} Task{{ count_tasks|pluralize }}
            {% else %}
                No tasks found
            {% endif %}
        </strong>
        <a href="{% url "todo_app:add_task" %}"
           class="p-1 rounded-lg bg-indigo-700 text-gray-200 border border-blue-600 shadow-lg hover:border-blue-500">NEW TASK</a>
    </div>
    <div class="mt-3">
        {% if all_tasks %}
            <table class="table-auto w-full shadow-inner">
                <thead class="text-blue-300 font-semibold uppercase shadow-inner">
                    <tr class="text-center py-2">
                        <td class="w-1/5">Title</td>
                        <td class="w-1/5">Scheduled For</td>
                        <td class="w-1/6">Importance</td>
                        <td class="w-1/6">Managed by</td>
                        <td class="w-1/4">Tags</td>
                        <td class="w-1/5">Overdue</td>
                        <td class=""></td>
                    <tr>
                </thead>
                <tbody class="bg-indigo-700 text-gray-300 shadow-lg">
                    {% for task in all_tasks %}
                        <tr class="space-x-4 text-center shadow-inner {% if forloop.counter|divisibleby:2 %}bg-indigo-600{% endif %}"> {#  #}
                            <td class="p-2">{{ task.title }}</td>
                            <td class="p-2">{{ task.schedule_date }}</td>
                            <td class="p-2">{{ task.importance|title }}</td>
                            <td class="p-2">{{ task.managed_by }}</td>
                            <td class="p-2">{% for t in task.tags.all %}
                                                <span class="rounded p-1 bg-{{ t.color }}-600 text-black shadow-md">{{ t }}</span>
                                            {% endfor %}
                            </td>
                            <td class="p-2">
                                {% if task.is_overdue %}
                                    {{ task.days_overdue }} Day{{ task.days_overdue|pluralize }} ago
                                {% else %}
                                    Not yet
                                {% endif %}
                            </td>
                            <td class="p-2 font-thin text-sm text-gray-500 hover:text-gray-300">
                                <div class="flex">
                                    <a href="{% url "todo_app:update_task" task.id %}" class="hover:bg-indigo-800 rounded px-2">EDIT</a>
                                    <a href="{% url "todo_app:delete_task" task.id %}" class="hover:bg-indigo-800 rounded px-2">DELETE</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}
