{% extends "todo_app/base.html" %}

{% block title %}Delete Task{% endblock %}

{% block container %}

    <form method="post">
        {% csrf_token %}
        <p class="mb-4 p-2 rounded self-end bg-indigo-200 text-red-700 uppercase font-thin">
            Confirm to delete this task: <span class="font-bold text-black underline">{{ task }}</span>
        </p>
        <input type="submit" value="Yes, Delete"
               class="uppercase p-1 rounded-lg bg-indigo-700 text-gray-200 cursor-pointer border border-blue-600 shadow-lg hover:border-blue-500">
    </form>

{% endblock %}