<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage Your TODOs Here</title>
    </head>

    <body>
        <div id="header">
        </div>

        <div id="container">
            {% if task %}
                <h1>{{ task.title }}</h1>
                <form action="{% url "todo_app:index" %}" method="post">
                    {% csrf_token %}
                    <input id="id" type="hidden" name="id" value="{{ task.id }}">
                    <br>
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" value="{{ task.title }}">
                    <br>
                    <label for="comment">Comment</label>
                    <input id="comment" type="text" name="comment" value="{{ task.comment }}">
                    <br>
                    <label for="schedule_date">Scheduled For</label>
                    <input id="schedule_date" type="date" name="schedule_date" value="{{ task.schedule_date }}">
                    <br>
                    <input type="submit" value="Save">
                </form>
            {% else %}
                <p>No corresponding task was found.</p>
            {% endif %}
        </div>

        <div id="footer">
        </div>
    </body>
</html>