{% extends "todo_app/base.html" %}

{% block title %}Update Task{% endblock %}

{% block container %}

    <div class="flex justify-center">
        <div class="w-1/2">
            <p class="self-end text-blue-300 uppercase font-thin">Update task</p>
            <form method="post" class="mt-5 space-y-2 flex flex-col">
                {% csrf_token %}
                {% for field in form %}
                    <div class="flex justify-between">
                        <label for="{{ field.id_for_label }}" class="uppercase font-thin text-md text-gray-300">{{ field.label }}</label>
                        {% if field.label == 'Tags' %}
{#                            {% for t in field.area.all %}{{ area }}<br/>{% endfor %}#}
                            {{ field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="submit" value="UPDATE"
                       class="w-2/3 p-1 self-end rounded-lg bg-indigo-700 text-gray-200 cursor-pointer border border-blue-600 shadow-lg hover:border-blue-500">
            </form>
        </div>
    </div>

{% endblock %}